.toolbar-container
    width: 150px
    height: calc( 100% - 32px )
    overflow-x: hidden
    overflow-y: auto
    position: fixed
    top: 32px
    z-index: 2

    .tools-container
        padding: 0
        list-style-type: none
        margin: 0

        .tools
            padding: 18px 0 18px 12px
            border-bottom: solid 1px

.color-chooser
    z-index: 2
    position: fixed
    top: 32px
    left: 150px
    border-left: solid 1px
    display: flex
    flex-wrap: wrap

    .color-choices
        font-size: 18px
        padding: 12px 24px

        .color-circle
            width: 24px
            height: 24px
            border-radius: 100%
            margin: 0 auto

        p
            margin: 0 0 8px 0

.color-picker
    position: fixed
    top: 112px
    left: 150px
    z-index: 2

.zoom-picker
    position: fixed
    top: 148px
    left: 150px
    width: 200px
    z-index: 2
    border-left: solid 1px

    .zoom-amount
        font-size: 18px
        text-align: center
        margin: 18px 0 0 0

    .zoom-change-container
        display: grid
        grid-template-columns: auto auto
        justify-content: space-around

        .zoom-change
            width: 48px
            height: 48px
            border-radius: 100%
            display: flex
            align-items: center
            justify-content: center
            cursor: pointer

.size-picker
    position: fixed
    top: 90px
    left: 150px
    width: 200px
    z-index: 2
    border-left: solid black 1px
    display: grid
    grid-template-rows: auto auto
    grid-template-columns: 200px
    align-items: center
    justify-content: space-around

    .size-selector
        .size-selector-text
            text-align: center
            margin: 12px 0 0 0

        .size-changer
            display: grid
            grid-template-columns: auto auto auto
            justify-content: space-evenly
            align-items: center
            margin-bottom: 16px

            .size-changer-button
                width: 48px
                height: 48px
                border-radius: 100%
                display: flex
                align-items: center
                justify-content: center
                cursor: pointer
                border: none
                outline: none

            .size-changer-input
                width: 48px

.random-picker
    position: fixed
    top: 205px
    left: 150px
    width: 160px
    z-index: 2
    border-left: solid 1px

    button
        border-radius: 80%
        padding: 16px
        border: none
        margin: 24px auto
        display: block
        outline: none

@media print
    .no-print
        display: none
