$nav-height: 32px

.nav-container
    width: 100%
    height: $nav-height
    position: fixed
    z-index: 200
    display: flex
    justify-content: space-between
    align-items: center
    border-bottom: solid 1px

    .link-container
        display: flex
        flex-wrap: wrap
        align-items: center
        padding: 0
        margin: 0
        list-style-type: none

        .links
            border-right: 1px solid
            list-style-type: none
            height: $nav-height
            padding: 0 $nav-height/2
            color: white
            display: flex
            align-items: center
            cursor: pointer

        .sub-link-container
            position: fixed
            top: $nav-height
            padding: 0
            list-style-type: none

            .sub-link
                padding: 8px 6px
                color: white
                cursor: pointer
                border-top: 1px solid

    h1
        font-size: 12px
        margin: 0 8px 0 0
        font-weight: 400
